@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: hsl(0, 0%, 98%);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-align: center;
    width: 700px;
    margin-top: 50px;
}

.header div:nth-child(1) {
    color: hsl(229, 6%, 66%);
}

.header div:nth-child(2) {
    font-weight: 700;
    color: hsl(234, 12%, 34%);
}

.header div:nth-child(3) {
    font-size: 20px;
    margin-top: 20px;
    color: hsl(229, 6%, 66%)

}

/* .container *{
    background-color: red;
    margin: 20px;
} */

.container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

/* .container > div {
    width: 375px;
    height: 250px;
} */

.container-upper, .container-lower, .container-left, .container-right {
    background-color: white;
    padding: 1em;
    width: 375px;
    height: 200px;
    box-shadow: 0px 5px 10px 3px rgb(207, 207, 207);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.container-left {
    border-top: 4px solid hsl(212, 86%, 64%)
}

.container-upper {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.container-right {
    border-top: 4px solid hsl(180, 62%, 55%)
}
.container-lower {
    border-top: 4px solid hsl(34, 97%, 64%)
}
.container-middle {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.container * {
    margin: 10px;
}

.container-upper {

}

img {
    width: max-content;
    align-self: flex-end;
}

.title {
    font-weight: 700;
    font-size: 20px;
}

.desc {
    color: hsl(229, 6%, 66%);
}

